extends ../layouts/common

block content
    div(id="sign-out-btn" class="text-lg-center")
        a(href="#", onclick="onSignOut()") Sign Out
    form(action="/spreadsheets/sync", method="post", class="form-group", id="spreadsheetId-form")
        input(type="text", class="form-control", id="spreadsheetId", placeholder="Enter spreadsheetId", name="spreadsheetId")
        small(class="form-text text-muted") Use spreadsheetId to sync your sheet data with database
        input(type="text", class="form-control", id="query", placeholder="Enter query string", name="query")
        small(class="form-text text-muted") Enter both speradsheetid and query string that you want to search for
        button(rel="sync-submit-btn", type="submit", class="btn btn-primary mr-2 mt-2") Sync
        button(rel="query-submit-btn", type="submit", class="btn btn-primary mt-2") Query
    div(class="spreadsheet-container") 
        h3 Query results
        hr


    
    