html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		meta(name="google-signin-scope", content="https://www.googleapis.com/auth/spreadsheets")
		meta(name="google-signin-client_id", content="738086097060-30n4s96dt2vk0gqc6v7im4v9s4f4ghrm.apps.googleusercontent.com")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="https://apis.google.com/js/platform.js", async, defer)
		script(src="/script.js")
	body
		block content
